// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2025, ahi6
 */

/dts-v1/;

#include <dt-bindings/arm/qcom,ids.h>
#include <dt-bindings/gpio/gpio.h>
#include "msm8917.dtsi"
#include "pm8937.dtsi"
// #include "msm8937-qdsp6.dtsi"

// /delete-node/ &qseecom_mem;

/ {
    model = "Lenovo Tab 4 10 (tbx304x)";
    compatible = "lenovo,tbx304x", "qcom,msm8917"; 
    chassis-type = "tablet";

    qcom,msm-id = <QCOM_ID_MSM8917 0>;
	qcom,board-id = <QCOM_BOARD_ID(QRD, 1, 0) 0>;

    chosen {
        #address-cells = <2>;
		#size-cells = <2>;
		ranges;

        stdout-path = "framebuffer0";

        framebuffer0: framebuffer@90001000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x90001000 0x0 (800 * 1280 * 3)>;
			width = <800>;
			height = <1280>;
			stride = <(800 * 3)>;
			format = "r8g8b8";

			clocks = <&gcc GCC_MDSS_AHB_CLK>,
				 <&gcc GCC_MDSS_AXI_CLK>,
				 <&gcc GCC_MDSS_VSYNC_CLK>,
				 <&gcc GCC_MDSS_MDP_CLK>,
				 <&gcc GCC_MDSS_BYTE0_CLK>,
				 <&gcc GCC_MDSS_PCLK0_CLK>,
				 <&gcc GCC_MDSS_ESC0_CLK>;
			power-domains = <&gcc MDSS_GDSC>;
            // status = "disabled"; // is this because of venus ???
			status = "okay";
		};
    };

    reserved-memory {
		framebuffer_mem: framebuffer@90001000 {
			reg = <0x0 0x90001000 0x0 (1280 * 800 * 3)>;
			no-map;
		};

		// maybe handled by lk2nd?
        // ramoops_mem: ramoops@0x8ee00000 {
		// 	compatible = "ramoops";
		// 	reg = <0x0 0x8ee00000 0x0 0x80000>;
		// 	console-size = <0x40000>;
		// };
	};

};
